[user]
	name = Bernhard Reitinger
	email = bernhard@reitinger.eu

[core]
	excludesfile = ~/.gitignore
	editor = nvim
	autocrlf = input

[init]
	defaultBranch = main

[push]
	default = simple

[pull]
	rebase = true

[fetch]
	prune = true

[alias]
	co = checkout
	br = branch
	ci = commit
	cp = cherry-pick
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD

[difftool]
	prompt = false

[gui]
	editor = nvim
